:root {
    /* --primary-color: #333; */
    --gray-1: #333;
    --gray-2: #4F4F4F;
  }

body {
    font-family: 'Space Mono', monospace;
    color: var(--gray-1);
    margin: 0;
    padding: 0;
}
.container {
    /* display: flex; */
    width: 100%;
    height: 100%;
}
.top-container h2 {
    color: #333;
    font-family: Inconsolata;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.92px;
    text-transform: uppercase;
}
.left-container {
    float: left;
    width: 50%;
}
.right-container {
    float: right;
    width: 50%;
}
h1 {
    font-size: 48px;
}
/* h2 {
    color: var(--gray-2);
    font-family: Space Mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.63px;
} */
p {
    font-size: 16px;
    margin: 0 0 10px;
}
a {
    text-decoration: none;
}
.rectangle {
    display: flex;
    align-items: center;
    width: 216px;
    height: 68px;
    background-color: var(--gray-1);
    flex-shrink: 0;
    margin: 0 0 10px;
    text-decoration: none;
}
.back-to-home {
    color: #FFF;
    font-family: Space Mono;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.49px;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        height: 100%;
    }
    .top-container {
        padding: 10px;
    }
    .left-container {
        float: none;
        width: 100%;
    }
    .right-container {
        float: none;
        width: 100%;
    }
    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 20px;
        margin: 0 0 10px;
    }
    p {
        font-size: 24px;
        margin: 0 0 10px;
    }
}